
  .wishlist-product-card{
    display:flex;
  width: 50%;
  border-bottom: 1px solid rgb(197, 189, 189);
  margin-bottom: 10px;
  }
  .wishlist-product-card>.cart-button{
    margin-right: 10px
  }
  .wishlist-product-card>img{
    width: 60px;
  }
  .wishlist-container{
    margin-top: 50px;
  }
  .wishlist-link{
    
  }
