
  .wishlist-container{
    margin-top: 50px;
  }
  .wishlist-product-card{
    display:flex;
  width: 50%;
  border-bottom: 1px solid rgb(197, 189, 189);
  margin-bottom: 10px;
  padding: 10px
  }
  .wishlist-product-card> .description{
    padding: 0 10px;
  }
  .wishlist-product-card>.cart-button-unselected{
    margin-right: 20px;
    width: 60px;


  }
  .wishlist-product-card> .cart-button-selected{
    margin-right: 20px;
    width: 60px;

  }
  .wishlist-product-card>img{
    width: 60px;
  }
  
  .wishlist-product-card>.remove-item{
    height: 30px;
    width: 30px;

  }