@import url("https://fonts.googleapis.com/css2?family=Kameron&display=swap");

.temp-cart {
  display: flex;
  width: 50%;
}
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.input-container{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.submit-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #265a88;
  width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 26px;
}
.cart-container {
  box-shadow: 0 2px 5px rgb(48 48 48 / 5%);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.cart-products-container {
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.68);
  width: 51%;
  margin-right: 0;
}
.cart-item-row {
  width: 100%;
  height: 100px;
  display: flex;
  padding-bottom: 5px;
  padding-top: 10px;

  border-bottom: 1px solid rgb(219, 216, 216);
}
.item-cart-price {
  font-size: 22px;

  font-family: Arial, "Segoe UI", Helvetica, sans-serif;
}
.image-block {
  width: 15%;
  height: 100%;
}
.mini-image {
  height: 100%;
  width: 100%;
}
.information-block {
  width: 75%;
}
.description-block {
  width: 100%;
  display: flex;
  font: 18px Roboto, sans-serif;
  margin-bottom: 10px;
}
.price-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.item-price,
.item-total-price {
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  width: 100px;
}
.quantity-block {
  display: flex;
  margin-right: 40px;
  border: 1px solid rgb(238, 234, 234);
  border-radius: 3px;
  height: 30px;
  width: 100px;
}

.plus-button {
  margin: 0;
  border: none;
  background-color: white;
  width: 25%;
  height: 100%;
  border-right: 1px solid rgb(238, 234, 234);
}
.minus-button {
  margin: 0;
  border: none;
  height: 100%;
  width: 25%;
  background-color: white;
  border-left: 1px solid rgb(238, 234, 234);
}
.item-quantity {
  margin-top: 7px;
}
.main-cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.total-sum-block {
  width: 100%;
  margin-top: 30px;
  font: 22px Kameron;
  display: flex;
  justify-content: space-between;
}
.cart-sum-text {
  width: auto;
  margin-left: 10px;
}
.cart-sum-number {
  width: auto;
  margin-right: 60px;
}
#cart-form {
  width: 500px;
  display: block;
  padding: 20px;
}
#cart-form>h1{
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;

}
.input-container > input {
  border: none;
  border-bottom: 1px solid rgb(242, 242, 242);
  width: 50%;
}
.input-container > label {
  font-size: 20px;
  width: 150px;
  display: inline-block;
  color: #303030;
  font-size: 13px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;

}
.remove-item {
  width: 15px;
  height: 15px;
  background-image: url(remove1.svg);
  border-style: none;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: white;
}
