.container {
    padding: 16px;
    background-color: white;
  }
  
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn, .login-button {
  background-color: #04AA6D;

  color: white;
  padding: 16px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
}

.login-form{
  display: flex;
  width: 30%;
}
.registration-form{
  width: 30%;
}

.visible{
  display: flex;
}
.invisible{
  display: none;
}
.user-history-block{
  width: 50%;
}
.history-product-card{
  width: 100%;
  height: auto;
  display: flex;
  padding:20px 5px;
  box-shadow: 0 2px 5px rgb(48 48 48 / 5%);
}
.item-description{
  /* width: 40%; */
  margin: 0;
  font-family: 'calibri';
}
.item-time{
  font-family: "calibri", serif;
}
.user-data{
  flex-wrap: wrap;
  flex-direction: column;
}
.user-information{
  font-weight: normal;
  font-family: 'calibri';
  padding-right: 10px;
  text-align: right;
  vertical-align: top;
  width: 150px;
  margin-left: 0;
}
.sign-out-button{
  background-color: #fff;
  border: 2px solid #222;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.sign-out-button:hover {
  background-color: #222;
  color: #fff;
}

.columns{
  display: flex;
  color: #3a3a3a;
}
.columns-name{
  width: 30%;
  margin: 0;
}
th{
  width: 25%;
}
td{
  width: 25%;
  text-align: center;
}